<h2>Edit Password</h2>
<%= form_with model: Current.user, url: password_reset_path do |form| %>
<% if form.object.errors.any? %>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <% form.object.errors.full_messages.each do |message|  %>
      <%= message %>
      <br>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% end %>

<div class='mb-3'>
  <%= form.label :password %>
  <%= form.password_field :password, class: 'form-control', placeholder:'password' %>
</div>
<div  class='mb-3'>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, class: 'form-control', placeholder:'retype password' %>
</div>
<div  class='mb-3'>
  <%= form.submit 'Update Password', class:'btn btn-primary' %>

</div>

<% end %>
